body {
    font-family: 'Arial', sans-serif;
    background-color: rgb(187, 236, 236);
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.container {
    text-align: center;
    background-color: #fff;
    padding: 40px;
    /* 上下の余白を増やす */
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 600px;
    /* コンテナの最大幅を設定 */
    width: 100%;
    /* 幅100%で中央寄せ */
}

h1 {
    color: #333;
}

h5 {
    font-weight: normal;
}

/* h3 {
    font-weight: normal;
    color: #fc0000;
} */


form {
    margin-top: 20px;
    margin-bottom: 20px;
}

label {
    /* font-weight: bold; */
    margin-right: 10px;
    margin-top: 10px;
    margin-bottom: 20px;
}

input {
    padding: 8px;
    margin-right: 10px;
    margin-top: 10px;
    margin-bottom: 20px;
}

button {
    width: 12em;
    height: 3em;
    font-size: 1.0em;
    padding: 8px 16px;
    background-color: #006e6e;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-bottom: 20px;
}

#lyricDisplay {
    margin-top: 20px;
}

#lyricText {
    /* font-style: italic; */
    font-style: normal;
}

.hidden {
    display: none;
}

select {
    padding: 8px;
    /* 選択ボックス内の余白 */
    font-size: 16px;
    /* フォントサイズ */
    border: 1px solid #ddd;
    /* 境界線 */
    border-radius: 4px;
    /* 角丸 */
}

/* 選択された項目のスタイル（任意で設定） */
select option:checked {
    background-color: #3498db;
    /* 選択された項目の背景色 */
    color: #fff;
    /* 選択された項目の文字色 */
}